.vehicles__section {
  padding-top: 0;
}

.vehicle {
  position: relative;
  color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

a.vehicle {
  box-shadow: 0 0.125rem 2rem -0.25rem rgba(10,10,10,.175);
  transition: box-shadow .2s;

}

a.vehicle:hover {
  box-shadow: 0 0.125rem 2rem -0.25rem rgba(10,10,10,.475);
}

.vehicle__artwork {
  object-fit: cover;
  -o-object-fit: cover;
  min-height: 220px;
}

.vehicle__title,
.vehicle__year {
  position: absolute;
  bottom: 10px;
  z-index: 1000;
  font-size: calc(1.0rem + 0.1vw);
}

.vehicle__title {
  left: 10px;
}

.vehicle__year {
  right: 10px;
}
